@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --cor-branca: #ffffff;
    --itens-topo: #000000;
    --background-header: #fff;
    --cor-de-fundo: #fff;
    --cor-botao1-background: #1c33e0;
    --cor-botao2: #8931fc;
    --cor-botao3: #084dc4;
    --gradiente-header: linear-gradient(90deg, rgba(136,63,255,1) 0%, rgba(9,9,121,1) 51%, rgba(49,216,250,1) 100%);
}

body {
    padding-top: 8.75em;
}

.header-principal {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-header);
}

.topo {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1em 29.6em;
    background-color: var(--background-header);
}

.nevagacao_topo-links {
    font-size: 0.75em;
    text-decoration: none;
    color: var(--itens-topo);
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--background-header);
    padding: 0;
}

.header_img {
    margin: 0.625em 3.75em 1em 32em;
}

.header-text {
    margin: 0.313em;
    margin-left: 3.438em;
    font-size: 16px;
}

.header_botao-home {
    border:0px solid var(--cor-branca);
    border-radius: 0.813em;
    padding: 0.938em 0.813em;
    background-color: var(--cor-botao1-background);
    color: var(--cor-branca);
    cursor:pointer;
    font-size: 14px;
    text-decoration:none;
}

.header_botao-banking {
    border:0px solid var(--cor-branca);
    background-color: var(--cor-botao2);
    color: var(--cor-branca);
    border-radius: 0.813em;
    cursor:pointer;
    font-size:14px;
    padding: 0.938em 0.813em;
    text-decoration:none;
}

.header_botao-acessos {
   border: 2px solid var(--cor-botao3); 
   background-color: var(--cor-branca); 
   color :var(--cor-botao3); 
   border-radius: 0.813em; 
   cursor :pointer; 
   font-size: 14px; 
   padding: 0.806em 1.563em; 
   text-decoration :none; 
}

.pos-topo {
   display:flex; 
   justify-content:center; 
   align-items:center; 
   margin: -5.7em -30em; 
}

.navegacao_pos-topo {
   display: flex; 
   justify-content: center; 
   font-size: 15px; 
   align-items: center; 
   background: var(--gradiente-header); 
   padding: 0.188em 10em; 
   margin: 6em 16.5em 0em -2em; 
   width: 100%; 
}

.navegacao_pos-links {
   margin :1.375em; 
   text-decoration :none; 
   color :var(--cor-branca); 
}

.carrosel_banners {
   margin-top: 3.7em; 
   display:flex; 
   align-items:center; 
   justify-content:center; 
}

.banner-4passos {
   border-radius :2em; 
   border-color :#084dc4; 
}

.nav_links {
   margin: 0.625 0em 2em 25em; 
   display: flex; 
   flex-direction: column; 
   list-style-type: none; 
   gap: 2em; 
}

.nav_linksPrimeiraParte {
    margin-left: 36.5em;
    font-size: 14px;
    display: block;
    max-width: 13em; 
    border-bottom: 0.063em solid #c3bdbd;
    padding: 1.063em;
  }
  
  .nav_PrimeiraParte {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
  }
  